<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>2</ApplicationRevision>
    <ApplicationVersion>1.0.3.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HlP-Lieferliste</ProductName>
    <PublishDir>bin\Release\net10.0-windows10.0.22621.0\app.publish\</PublishDir>
    <PublishUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</PublishUrl>
    <PublisherName>Bosch_HlP_TEF2</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <SuiteName>TEF_TOOLS</SuiteName>
    <TargetCulture>de-AT</TargetCulture>
    <TargetFramework>net10.0-windows10.0.22621.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <UseApplicationTrust>True</UseApplicationTrust>
  </PropertyGroup>
</Project>