<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>276</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>9A131EB01D4AD33BF2B28388179720A2F78ABF23</ManifestCertificateThumbprint>
    <ManifestKeyFile>Lieferliste_WPF_1_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>1.0.2.200</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <ProductName>Lieferliste</ProductName>
    <PublishDir>bin\Release\net10.0-windows10.0.22621.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</PublishUrl>
    <PublisherName>Bosch HlP-TEF2</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetCulture>de-AT</TargetCulture>
    <TargetFramework>net10.0-windows10.0.22621.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestTimestampUrl>http://timestamp.digicert.com</ManifestTimestampUrl>
    <History>True|2026-03-12T15:43:40.1485781Z||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="el4-application.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>